name: CD

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.14.0'

      - name: Build
        run: |
          go get -d -v
          go build -v .

      - name: Run tests
        run: go test -v ./...
