name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ~1.23.6

      - name: Build
        run: |
          go build -v ./cmd/aws-sigv4-proxy

      - name: Run tests
        run: go test -v ./...
